<div class="h-screen flex flex-col bg-[var(--background-color)]">
    <app-nav-bar></app-nav-bar>
    <div class="flex-grow flex items-center justify-center px-6 pt-0">
        <div class="w-full max-w-2xl bg-white p-10 rounded-2xl shadow-lg relative border border-[var(--elements-color)] card-container">
            <h2 class="text-2xl font-bold text-[var(--accent-color)] text-center mb-6">
                EHS Consulting Network - Consultant Information Form
            </h2>

            <form [formGroup]="signUpForm" (ngSubmit)="navigateToNextForm()">
                <div *ngFor="let category of categories | keyvalue">
                    <h3 class="font-bold text-lg text-[var(--text-color)]">{{ category.key }}</h3>
                    
                    <div *ngFor="let subcategory of category.value | keyvalue">
                        <mat-form-field class="w-full">
                            <mat-label>{{ subcategory.key }}</mat-label>

                            <mat-select [formControlName]="subcategory.key"
                                [multiple]="subcategory.value.type === 'checkbox'"
                                (selectionChange)="onPrimaryServiceChange(category.key, subcategory.key, $event.value)">
                                <mat-option *ngFor="let option of subcategory.value.option" [value]="option">
                                    {{ option }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="mb-6">
                    <label class="block font-semibold mb-2">Other</label>
                    <textarea formControlName="jobDescription" class="w-full border rounded-lg p-3 focus:ring-2 outline-none transition"
                        placeholder="Describe the work in detail"></textarea>
                </div>

                <div class="mb-2">
                    <label class="block font-semibold text-[var(--text-color)] mb-3">Upload Job Description</label>
                    <div class="relative w-full flex items-center">
                        <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx">
                        <label for="fileInput"
                            class="cursor-pointer bg-[var(--elements-color)] text-black px-5 py-3 rounded-full shadow-md font-bold flex items-center gap-3 hover:bg-opacity-80 hover:shadow-lg transition">
                            <mat-icon class="text-[var(--accent-color)]">attach_file</mat-icon> Choose File
                        </label>
                    </div>
                </div>

                <div class="flex justify-between mt-6">
                    <!-- Back Button -->
                    <button type="button" (click)="navigateToPreviousForm()"
                        class="bg-gray-400 text-white py-3 px-6 rounded-lg font-bold shadow-md hover:bg-gray-500 transition">
                        Back
                    </button>

                    <!-- Next Button -->
                    <button type="button" (click)="navigateToNextForm()"
                        class="bg-[var(--accent-color)] text-white py-3 px-6 rounded-lg font-bold shadow-md hover:bg-opacity-80 transition">
                        Next
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
