<div
  class="h-screen flex flex-col"
  style="background-color: var(--background-color)">
  
  <app-nav-bar></app-nav-bar>

  <!-- Main Content -->
  <div class="flex-grow flex justify-center items-center p-6">
    <div class="bg-white p-18 rounded-2xl shadow-lg w-full max-w-4xl relative">
      <h2
        class="text-[var(--accent-color)] text-4xl font-bold mb-4 text-center">
        EHS Consulting Network - Client Information Form
      </h2>
      <p class="text-(--text-color) text-sm mb-5" style="text-align: justify">
        Availability & Additional Comments
      </p>
      

      <!-- Form -->
      <form [formGroup]="consultantForm" (ngSubmit)="onSubmit()" class="pb-16">
       
       
        <div class="mb-6">
          <!-- <label class="block font-semibold mb-2">Other</label> -->
          <textarea formControlName="jobDescription1"
                    class="w-full border rounded-lg p-3 focus:ring-2 outline-none transition"
                    placeholder="Please state any specifics about availability that you may have:"></textarea>
      </div>

      <div class="mb-6">
          <!-- <label class="block font-semibold mb-2">Other</label> -->
          <textarea formControlName="jobDescription2"
                    class="w-full border rounded-lg p-3 focus:ring-2 outline-none transition"
                    placeholder="Additional Information, Comments or Clarifications:"></textarea>
      </div>
          
      </form>

       
          <!-- ✅ Back & Next Buttons -->
          <button
          class="absolute bottom-4 left-10 w-[50px] h-[50px] cursor-pointer hover:bg-opacity-80"
          type="button"
          (click)="navigateToPreviousForm()">
          <img src="/back_button.png" alt="Back" class="w-full h-full object-contain" />
      </button>

      <!-- Submit Button -->
      <button
        class="absolute bottom-4 right-10 w-[50px] h-[50px] cursor-pointer hover:bg-opacity-80"
        type="button"
        (click)="navigateToNextForm()"
        >
        <img
          src="/next_button.png"
          alt="Next"
          class="w-full h-full object-contain" />
      </button>
      <button
        class="fixed bottom-6 right-6 w-14 h-14 text-white rounded-full flex items-center justify-center shadow-lg cursor-pointer">
        <img src="/chat.png" alt="Chat" class="w-8 h-8" />
      </button>
    </div>
  </div>
</div>
