<div class="dialog-container">
    <h2>Job {{ data.jobid }}</h2>
    
    <!-- Job Description Section -->
    <div class="description">
      <h3>Description:</h3>
      <p>{{ data.work_in_detail }}</p> 
      <p><strong>Scope of Service:</strong> {{ data.scope_of_service }}</p>
      <p><strong>Created on:</strong> {{ data.expected_start_date }}</p>
      <p><strong>Deadline:</strong> {{ data.deadline }}</p>  
      <p><strong>Location:</strong> {{ data.location }}</p>
      <p><strong>Budget:</strong>{{ data.budget }} </p>
 
        
    </div>
  
    <!-- Client Contact Information Section -->
    <div class="client-info">
      <h3>Client Contact Information:</h3>
      <p><strong>Phone:</strong> {{ data.phone }}</p>
      <p><strong>Email:</strong> {{ data.email }}</p>
      <button mat-button>Message Client</button>
    </div>
  
    <!-- Bid Form Section -->
    <div class="bid-form">
      <h3>Bid for the Job</h3>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Enter Amount</mat-label>
          <input class="bg-(--elements-color)/20 rounded-full w-100 py-3 px-5 mb-5 text-(--text-color)" [(ngModel)]="bidAmount" name="amount" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Enter Availability</mat-label>
          <input class="bg-(--elements-color)/20 rounded-full w-100 py-3 px-5 mb-5 text-(--text-color)" [(ngModel)]="availability" name="availability" required />
        </mat-form-field>
  
        <button class="rounded-full bg-(--elements-color)" type="submit">Submit Request</button>
      </form>
    </div>
  
    <!-- Close Button -->
    <button mat-button (click)="onClose()">Close</button>
  </div>
  