
<div class="dialog-container">
    <h2>Job {{ data.jobid }}</h2>

     <!-- Close Icon Button -->
  <button mat-icon-button class="absolute top-2 right-2" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
    
    <!-- Job Description Section -->
    <div class="description">
      <h3>Description:</h3> <p>{{ data.work_in_detail }}</p> 
      <p><strong>Scope of Service:</strong> {{ data.scope_of_service }}</p>
      <p><strong>Created on:</strong> {{ data.expected_start_date }}</p>
      <p><strong>Deadline:</strong> {{ data.deadline }}</p>  
      <p><strong>Location:</strong> {{ data.location }}</p>
      <p><strong>Budget:</strong>{{ data.budget }} </p>
 
        
    </div>
  
    <!-- Client Contact Information Section -->
    <div class="client-info">
      <h3>Client Contact Information:</h3>
      <p><strong>Phone:</strong> {{ data.phone }}</p>
      <p><strong>Email:</strong> {{ data.email }}</p>
      <button mat-button>Message Client</button>
    </div>
  
    <!-- Bid Form Section -->
    <div class="bid-form">
      <h3>Bid for the Job</h3>
      <form #bidForm="ngForm" (ngSubmit)="onSubmit()" class="bid-form" novalidate>

        <mat-form-field appearance="fill" class="w-full custom-field">
          <mat-label>Update Bid Amount</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="bidAmount" name="amount"  #amount="ngModel">
         
        </mat-form-field>
     
        <button  class="mt-5 bg-gradient-to-r from-[#b68d5f] to-[#a4784c] text-white font-semibold text-sm py-2 px-6 rounded-full shadow-md hover:from-[#a4784c] hover:to-[#8d6640] transition" type="submit" [disabled]="bidForm.invalid">Submit Request</button>
      </form>
      
    </div>
  
 
  </div>
  