.dialog-title {
    text-align: center;
    font-size: 20px;
    color: #b24b20;
    padding: 10px;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
   padding: 20px;
    margin: 30px auto;
    background: #f5f0e8;
    border-radius: 8px;
    max-width: 1000px; /* Increased width */
    width: 100%;
    box-sizing: border-box;
    
  max-height: 80vh;         /* Limit height */
  overflow-y: auto;
  }
  
  .dialog-content h2 {
    color: #b8860b;
    font-size: 24px;
    font-weight: bold;
  }
  /* Flex container for job and client info */
  .details-wrapper {
    display: flex;
    flex-direction: column; /* Stack vertically */
    gap: 20px;
    padding: 20px;
  }
  
  
  /* Common card style for both sections */
  .description,
  .client-info {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  
  .dialog-actions {
    margin-top: 20px;
    text-align: right;
  }
  

  
  .close-button {
    background-color: #ccc;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  
::ng-deep mat-error {
  color: #dc2626 !important; /* Tailwind red-600 */
  font-size: 0.875rem; /* text-sm */
  margin-bottom: 1rem;
}
