<div class="md:bg-(--background-color) h-screen flex justify-center items-center">
    <div class="hidden md:inline bg-(--accent-color)/10 -rotate-45 bottom-1/2 -left-1/2 h-screen w-screen fixed"></div>
    <div class="hidden md:inline bg-(--text-color)/10 rotate-45 top-1/2 -left-1/2 h-screen w-screen fixed"></div>
  <div class="flex items-center">
    <div
      class="hidden md:flex text-3xl font-bold border-r-4 px-15 h-60 justify-center items-center text-(--accent-color)">
      Welcome back!
    </div>
    <div
      class="md:bg-white w-50 md:w-100 h-100 rounded-[2em] flex flex-col justify-center items-center md:ml-15">
      <div class="font-bold text-2xl text-(--accent-color) mb-8">Login</div>
      <form
        class="flex flex-col justify-center items-center"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()">
        <input
          class="bg-(--elements-color)/20 rounded-full w-75 py-3 px-5 mb-5 text-(--text-color)"
          type="text"
          formControlName="email"
          placeholder="email" />
        <input
          class="bg-(--elements-color)/20 rounded-full w-75 py-3 px-5 mb-5 text-(--text-color)"
          type="password"
          formControlName="password"
          placeholder="password" />
        <button
          class="w-75 py-3 rounded-full font-bold bg-(--elements-color) hover:bg-(--elements-color)/50 text-(--text-color) cursor-pointer mb-3 disabled:bg-(--elements-color)/40 disabled:cursor-not-allowed"
          type="submit"
          [disabled]="loginForm.invalid">
          LOGIN
        </button>
        <div class="text-xs flex justify-between w-75">
          <a class="cursor-pointer" (click)="navigateToSignUp()">Sign Up</a><a>forgot passowrd?</a>
        </div>
      </form>
    </div>
  </div>
</div>
