<div *ngIf="formStructure" class="bg-white p-4 rounded-lg shadow-md">
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let category of formStructure.categories">
      <h3 class="text-2xl font-bold mb-2">{{ category.category_name }}</h3>
      <ng-container *ngFor="let q of category.questions">
        <label class="block font-medium mb-1 text-gray-700">{{ q.question }}</label>
        <ng-container [ngSwitch]="q.answer_type">
          <!-- text -->
          <input *ngSwitchCase="'text'"
                 type="text"
                 class="w-full p-2 border rounded-md"
                 [formControlName]="q.question_id" />
          <!-- date -->
          <input *ngSwitchCase="'date'"
                 type="date"
                 class="w-70 p-2 border rounded-md"
                 [formControlName]="q.question_id" />
          <!-- radio -->
          <div *ngSwitchCase="'radio'">
            <ng-container *ngIf="getOptions(q.question_id) | async as opts">
              <label *ngFor="let opt of opts" class="flex items-center space-x-2">
                <input  type="radio"
                        [value]="opt"
                        [formControlName]="q.question_id" />
                <span>{{ opt }}</span>
              </label>
            </ng-container>
          </div>
          <!-- checkbox group -->
          <div *ngSwitchCase="'CHECKBOX_GROUP'">
            <ng-container *ngIf="getOptions(q.question_id) | async as opts">
              <label *ngFor="let opt of opts" class="flex items-center space-x-2">
                <input  
                  type="checkbox"
                  [value]="opt"
                  #chk
                  (change)="toggleCheckbox(q.question_id, opt, chk.checked)" />
                <span>{{ opt }}</span>
              </label>
            </ng-container>
          </div>
          <!-- textbox group -->
          <div *ngSwitchCase="'TEXT_GROUP'" [formArrayName]="q.question_id">
            <ng-container *ngFor="let ctrl of getTextGroupControls(q.question_id).controls; let i = index">
              <label class="block font-medium mb-1 text-gray-700">
                {{ 'Minimum Insurance Coverage for ' + getInsuranceControlValue(i) }}
              </label>
              <input type="text"
                     class="w-full p-2 mb-4 border rounded-md"
                     [formControlName]="i" />
            </ng-container>
          </div>
          <!-- fallback -->
          <input *ngSwitchDefault
                 type="text"
                 class="w-full p-2 border rounded-md"
                 [formControlName]="q.question_id" />
        </ng-container>
      </ng-container>
    </ng-container>
    <button type="submit"
            class="w-full py-3 mt-6 bg-(--accent-color) text-white rounded-full font-semibold hover:bg-(--accent-color)/50 transition cursor-pointer">
      Submit
    </button>
  </form>
</div>