<div class="sidebar transition-all duration-300 h-screen bg-white shadow-md flex flex-col w-64 p-4 overflow-hidden"
  [ngClass]="{ open: isSidebarOpen, closed: !isSidebarOpen }">
  <div class="flex items-center justify-center mb-6">
    <img src="company_logo.png" alt="Company Logo" class="h-8 cursor-pointer" (click)="goToLandingPage()" />
  </div>
  

  <nav class="flex-1">
    <ul>
      @for (item of menuItems; track item.route) {
      <li class="mb-2">
        <a [routerLink]="item.route" 
           routerLinkActive="bg-(--accent-color) text-white" 
           [routerLinkActiveOptions]="{exact: true}"
           class="flex items-center p-3 rounded-lg transition hover:bg-gray-100"
           [ngClass]="{ hidden: !isSidebarOpen }"
           (click)="handleMenuClick(item)">
          <i class="mr-2" [class]="item.icon"></i>
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </nav>
</div>