<div>
  <h1 class="text-3xl text-(--text-color) font-bold mb-4">Site Settings</h1>
  <div class="flex items-center mb-4 bg-white w-100 rounded-full">
    <button
  [class]="
    activeTab === 'client'
      ? 'rounded-full px-4 py-3 w-50 text-center bg-(--text-color) text-white cursor-pointer'
      : 'text-(--text-color) px-4 py-3 w-50 text-center cursor-pointer'
  "
  (click)="switchTab('client')">
  Edit Consultant Form
</button>

    <button
  [class]="
    activeTab === 'consultant'
      ? 'rounded-full px-4 py-3 w-50 text-center bg-(--text-color) text-white cursor-pointer'
      : 'text-(--text-color) px-4 py-3 w-50 text-center cursor-pointer'
  "
  (click)="switchTab('consultant')">
  Edit Consultant Form
</button>

  </div>
  <div *ngIf="activeTab === 'consultant'">
    <div class="environmental-services">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center">
          <h2 class="text-xl text-(--text-color)">Environmental Services</h2>
          <button class="ml-4 flex items-center justify-center">
            <i
              class="fas fa-circle-plus cursor-pointer text-(--text-color)/80 hover:text-(--text-color)/50"></i>
          </button>
        </div>
        <button
          class="bg-(--text-color) hover:bg-(--text-color)/80 text-white px-4 py-2 rounded-full cursor-pointer">
          delete selected
        </button>
      </div>
      <app-options-tree
        *ngIf="dataSourceEnvironmental?.data?.length"
        [dataSource]="dataSourceEnvironmental"
        [treeControl]="treeControl"
        [addChildHandler]="addChild">
      </app-options-tree>
    </div>
    <div class="health-services">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center">
          <h2 class="text-xl text-(--text-color)">Health Services</h2>
          <button class="ml-4 flex items-center justify-center">
            <i
              class="fas fa-circle-plus cursor-pointer text-(--text-color)/80 hover:text-(--text-color)/50"></i>
          </button>
        </div>
        <button
          class="bg-(--text-color) hover:bg-(--text-color)/80 text-white px-4 py-2 rounded-full cursor-pointer">
          delete selected
        </button>
      </div>
      <app-options-tree
        *ngIf="dataSourceHealth?.data?.length"
        [dataSource]="dataSourceHealth"
        [treeControl]="treeControl"
        [addChildHandler]="addChild">
      </app-options-tree>
    </div>
  </div>
</div>
