<div>
  <h1 class="text-3xl text-(--text-color) font-bold mb-4">Site Settings</h1>
  <div class="flex items-center mb-4 bg-white w-100 rounded-full">
    <button
      [class]="
        activeTab === 'consultant'
          ? 'rounded-full px-4 py-3 w-50 text-center bg-(--text-color) text-white cursor-pointer'
          : 'text-(--text-color) px-4 py-3 w-50 text-center cursor-pointer'
      "
      (click)="switchTab('consultant')">
      Edit Consultant Form
    </button>

    <button
      [class]="
        activeTab === 'client'
          ? 'rounded-full px-4 py-3 w-50 text-center bg-(--text-color) text-white cursor-pointer'
          : 'text-(--text-color) px-4 py-3 w-50 text-center cursor-pointer'
      "
      (click)="switchTab('client')">
      Edit Client Form
    </button>
  </div>
  @for (question of questions; track question.question_id){
    @if (activeTab === 'client' && question.form_id === 1) {
      <app-question-edit-card
        [question]="question"
      ></app-question-edit-card>
    }
    @if (activeTab === 'consultant' && question.form_id === 2) {
      <app-question-edit-card
        [question]="question"
      ></app-question-edit-card>
    }
  }
</div>
