<div class="p-6 rounded-lg">
  <h1 class="text-3xl text-(--text-color) font-bold mb-4">Site Settings</h1>
  <div>
    <h2 class="text-xl text-(--text-color) mb-3">Environmental Services</h2>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox [(ngModel)]="node.selected" color="primary">{{
          node.name
        }}</mat-checkbox>
      </mat-tree-node>

      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name"
        class="flex items-center">
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        {{ node.name }}
        <button
          (click)="addChild(node)"
          class="ml-4 flex items-center justify-center">
          <i
            class="fas fa-circle-plus cursor-pointer text-(--text-color)/80 hover:text-(--text-color)/50"></i>
        </button>
      </mat-tree-node>
    </mat-tree>
  </div>
</div>
