.onboarding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--background-colour);
    padding: 20px;
}

.form-wrapper {
    max-width: 800px;
    width: 100%;
    background-color: white; /* Single white background */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 30px; /* Adjust as needed */
    padding-left: 30px; /* Adds space inside */
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #444;
}

.form-description {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.tabs-container {
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
  
.login-link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #333;
  }
  

.button-container button {
    margin-left: 10px;
}


.button-container .back-button {
    margin-right: auto; 
}

.button-container .submit-button {
    margin-left: auto; 
}
.button-icon {
    width: 40px;
    height: 40px;
}

.submit-button {
    padding: 8px 16px;
    font-weight: bold;
    background-color: var(--elements-color);
    color: black;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
::ng-deep mat-error {
  color: #ef4444 !important; 
  font-size: 0.875rem;
}


  
