<div class="h-screen bg-white shadow-md flex flex-col w-64 p-4">
    <div class="flex items-center justify-center mb-6">
      <img 
      src="company_logo.png" 
      alt="Company Logo" 
      class="h-8 cursor-pointer"
    />
    </div>
  
    <nav class="flex-1">
      <ul>
        @for(item of menuItems; track item.route){
            <li class="mb-2">
                <a
                  [href]="item.route"
                  class="flex items-center p-3 rounded-lg hover:bg-gray-200 transition"
                >
                {{item.label}}
                </a>
              </li>
        }
      </ul>
    </nav>
  </div>
  