/* You can add global styles to this file, also import other style files */
@import 'tailwindcss';

:root {
  --background-color: #faf7f0;
  --accent-color: #b17457;
  --elements-color: #d8d2c2;
  --text-color: #4a4947;
  --mat-select-panel-background-color: #ffffff;
}

::ng-deep .custom-calendar-panel .mat-datepicker-content,
::ng-deep .custom-calendar-panel .mat-calendar {
  background-color: var(--mat-select-panel-background-color) !important;
  color: var(--text-color) !important;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* Optional: style selected day */
::ng-deep .custom-calendar-panel .mat-calendar-body-selected {
  background-color: var(--accent-color) !important;
  color: #fff !important;
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Ensure the background color is applied */
body {
  @apply bg-[var(--background-color)] text-[var(--text-color)];
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add spinner animation */
.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}