<div>
  <div class="text-3xl font-bold text-(--text-color)">Dasboard</div>
  <section class="content">
    <div class="cards">
      <div class="card">
        <div class="flex justify-between items-center"><h2>Total Users</h2><i class="fa-solid fa-users text-[#00B0F5]"></i></div>
        <div class="value">
          65 
        </div>
      </div>
      <div class="card">
        <div class="flex justify-between items-center"><h2>Total Bids</h2><i class="fa-solid fa-chart-simple text-[#33FF00]"></i></div>
        <div class="value">
          452
        </div>
      </div>
      <div class="card">
        <div class="flex justify-between items-center"><h2>Current Matches</h2><i class="fa-solid fa-check text-[#FF00FB]"></i></div>
        <div class="value">
          234 
        </div>
      </div>
    </div>
  </section>
</div>
